<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet"  href="{% static 'css/style.css' %}">    

    </head>


<body>
    <header class="header">
    This is the date and the time 
    </header>
    <div class="form-div">
    <form class="form-class" action='/result' method='post'>
    {% csrf_token %}
    Your Name: <input type='text' name='name'>

    Dojo Location: <select name = "dropdown" >
        
        <option value = "San-Jose" >San Jose</option>
        <option value = "Bellevue">BelleVue</option>
        <option value = "Boise">Boise</option>
        <option value = "Chicago">Chicago</option>
    </select>
    Favorite Langauge: <select name = "second-dropdown">
        
        <option value = "python" selected>Python</option>
        <option value = "Java">Java</option>
        <option value = "C#">C# .net</option>
        <option value = "javascript">JavaScript</option> 
    Comment (optional) 
    <textarea name="message" rows="10" cols="50">
        write your comment here !!! 
    </textarea>
    <button type='submit'>submit</button>
</form>
</div>
    
</body>
</html>